<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=@mechanic.first_name%></title>
    <h3>Your Vehicles Mechanic</h3>
</head>
<body>
<ul>
     <%@mechanic_attributes.each do |attr_name, attr_value|%>
          <li><%="#{attr_name}: #{attr_value}"%></li>
    <% end %>
</ul>
</body>
</html>