<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <h1>Welcome to the Mechanic App</h1>
</head>
<body>
<p>
<h4>With this app you can create an account to keep up with your vehicles mechanics!</h4>
</p>  
</body>
</html>