<body class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">YOUR VEHICES</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
    <%@vehicles.each do |vehicle|%>
        <h4><%=link_to "#{vehicle.combine_make_model}", user_vehicle_path(current_user, vehicle)%></h4>
        <% end %>
        <br>
    <h3><%=link_to "ADD A VEHICLE", new_user_vehicle_path(current_user)%></h3>
        
        
        </h2>
      </div>
    </div>
  </body>