<body class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">YOUR VEHICE</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
   <%@vehicle_attributes.each do |attr_name, attr_value|%>
          <h4><%="#{attr_name.upcase}: #{attr_value}"%></h4>
    <% end %> 
        <br>
    <br>
    <h3><%=link_to "YOUR VEHICLES MECHANIC", user_vehicle_mechanic_path(current_user,@vehicle, @vehicle.mechanic)%></h3>
    <br>
    <h3><%=link_to "EDIT THIS VEHICLE", edit_user_vehicle_path(current_user, @vehicle)%></h3>
    <br>
    <h3><%=link_to "REMOVE THIS VEHICLE", user_vehicle_path(current_user, @vehicle), :method => :delete%></h3>
        
        </h2>
      </div>
    </div>
  </body>

