<footer class="bg-black small text-center text-white-50">
    <div class="container">
    MECHANIC APP
    <br>
      <%if user_signed_in?%>
      <%= link_to 'Edit Your Account', edit_user_registration_path%>
      <br>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </footer>